/*
Styles used for labels and input fields in boot strap columns
*/
.row label {
  margin-top: 1.5em;
  vertical-align: middle;
  text-align: right;
}

.row input {
  margin-top: 1em;
  padding: 0.35em;
  border-radius: 4px;
  width: 100%;
  border: 1px solid lightgray;
}

/* Styles for accountSettings */
.row button {
  margin-top: 1em;
  padding: 0.5em;
}

.car-btn-width {
  width: 100%;
}

/* The width of every page */
.main-container {
  max-width: 900px;
}

#navbarDropdown {
  left: -90px; /* adjust as needed */
}

.btn-delete {
  background-color: rgba(255,0,0,.5);
  color: white;
}

/*Triangle shape next to username logged in*/
.dropdown-toggle-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  color: cornflowerblue;
}
